* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.logo img {
  height: 90%;
  width: 90%;
  padding: 16px 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  margin-left: 500px;

  display: flex;
  align-items: center;
  gap: 35px;
  padding: 10px 20px;

  border: 1px solid;
  backdrop-filter: blur(6px);
  border-radius: 3em;
  transition: transform 0.8s;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #0c8699;
}

.nav-links a.active{
    color: #0c8699;
}
.nav-btn {
  background-color: #000;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

.about {
  padding: 80px 60px;
  max-width: 700px;
}

.about h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.about h2 {
  font-size: 52px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.about h2 span {
  color: #7abf2e;
}

.about p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.footer {
  display: flex;
  margin-top: 40px;
}

.footer-contact img {
  height: 100px;
  width: 100px;
}

.footer-contact ul li {
  width: 200px;
  padding: 0px;
  line-height: 1.6;

}

.footer div {
  padding: 50px;
  margin-top: 30px;
  margin-left: 50px;
}

div h5 {
  padding: 10px;
  font-size: medium;
}
ul li {
  list-style: none;
  padding: 10px;
}

li span {
  color: blue;
  padding: 0;
  list-style: none;
}

.footer-notion ul li span {
  color: white;
  background-color: green;
  border-radius: 30px;
  padding: 5px;
  font-size: smaller;
}

.copyrights p {
  background-color: #37adbf;
  color: white;
  padding: 50px 50px;
  align-items: center;
  margin-bottom: 0;
}
