* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.logo img {
  height: 90%;
  width: 90%;
  padding: 16px 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  margin-left: 500px;

  display: flex;
  align-items: center;
  gap: 35px;
  padding: 10px 20px;

  border: 1px solid;
  backdrop-filter: blur(6px);
  border-radius: 3em;
  transition: transform 0.8s;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #0c8699;
}
.nav-btn {
  background-color: #000;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

.integration {
  text-align: center;
  padding: 10px 10px;
}

section p {
  color: gray;
  font-family: monospace;
  font-size: 20px;
}

section h1 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
}

.search-box {
  /* text-align: center; */
  margin-top: 40px;
}
.search-wrapper {
  position: relative;
  width: 60%;
  max-width: 800px;
  margin: auto;
}

.search-wrapper input {
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-radius: 50px;
  border: 2px solid #d1d5db;
}

.search-wrapper input:focus {
  border-color: rgb(71, 188, 203);
  outline: none;
}

.search-wrapper i {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  color: black;
  font-size: 30px;
  color: gray;
}

.apps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  padding: 40px 100px;
  max-width: 1200px;
  margin: auto;
}
.app-card {
  border: 1px solid #e5edf5;
  border-radius: 14px;
  height: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.app-card:hover {
  border-color: rgb(71, 188, 203);
}

.app-card img {
  width: 80px;
  height: 60px;
  margin-bottom: 12px;
  object-fit: contain;
}

.app-card p {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}

.automation p {
  font-size: 35px;
  font-weight: 800;
  color: #000;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 10px 40px;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.card {
  border: 1px solid rgb(173, 55, 55);
  border-radius: 40px;
  width: 300px;
  text-align: center;
  padding: 10px 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.logos img {
  height: 46px;
  width: 50px;
}

.card p {
  font-size: small;
  color: #000;
  font-weight: 100;
}

.try-btn {
  color: orange;
  border: none;
}

.footer {
  display: flex;
  margin-top: 40px;
}

.footer-contact img {
  height: 100px;
  width: 100px;
}

.footer-contact ul li {
  width: 200px;
  padding: 0px;
}

.footer div {
  padding: 50px;
  margin-top: 30px;
  margin-left: 50px;
}

div h5 {
  padding: 10px;
  font-size: medium;
}
ul li {
  list-style: none;
  padding: 10px;
}

li span {
  color: blue;
  padding: 0;
  list-style: none;
}

.footer-hubspot li span {
  color: white;
  background-color: green;
  border-radius: 30px;
  padding: 5px;
  font-size: smaller;
}

.copyrights p {
  background-color: #37adbf;
  color: white;
  padding: 50px 50px;
  align-items: center;
  margin-bottom: 0;
}
